/*Ajout des polices*/
@font-face {
	font-family: 'Rubik Medium';
	src: url('fonts/Rubik-Medium.eot');
	src: local('☺'), url('fonts/Rubik-Medium.woff') format('woff'), url('fonts/Rubik-Medium.ttf') format('truetype'), url('fonts/Rubik-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Rubik Regular';
	src: url('fonts/Rubik-Regular.eot');
	src: local('☺'), url('fonts/Rubik-Regular.woff') format('woff'), url('fonts/Rubik-Regular.ttf') format('truetype'), url('fonts/Rubik-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*Background color*/
.bg_color-blue{
    background-color: #103268;
}
.bg_color-white{
    background-color: #ffffff;
}
.bg_color-black{
    background-color: rgba(0,0,0,0.1);
}
/*Couleur de texte*/
.text-white{
    color:#ffffff;
}
.text-bright{
    color:rgba(255,254,254,0.8);
}
.text-dark{
    color:#5E5E5E;
}
/*Style de caractères*/
.standard_medium_white{
    font-family: 'Rubik Medium';
    color:#ffffff;
}
.standard_regular_white{
    font-family: 'Rubik Regular';
    color:#FFFFFF;
}
.standard_regular_bright{
    font-family: 'Rubik Regular';
    color:rgba(255,254,254,0.8);
}
.standard_regular_dark{
    font-family: 'Rubik Regular';
    color:#5E5E5E;
}
.standard-font{
    text-decoration: none;
    color:rgba(255,254,254,0.8);
    font-family: 'Rubik Regular';
    line-height: 2.25rem;
    text-decoration: none;
}
.font_size_1{
    font-size: 1.25rem;
}
.font_size_2{
    font-size: 1.125rem;
}
.font_size_3{
    font-size: 0.9375rem;
}

.line-height_1{
    line-height: 3.75rem;
}
.line-height_2{
    line-height: 2.25rem;
}
.line-height_3{
    line-height: 2rem;
}
.line-height_4{
    line-height: 1.35rem;
}
.line-height_0{
    line-height: 0;
}
p{
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/*flex*/
.d-flex{
	display:flex;
}
.flex-bettween{
	justify-content: space-between;
}
.flex-column{
	flex-direction: column;
}
.flex-center{
	justify-content: center;
}
.flex-horizontal_center{
    align-items: center;
}
.flex-start{
    align-items: flex-start;
}
/*Largeur*/
.w-list{
	Width:10.645rem;
    Box-sizing:border-box;
}
.w-100{
    width:100%;
    box-sizing: border-box;
}
.w-1170{
    width:60.9375%;
}
/*Mise en page*/
body{
    margin: 0;
}
.top-footer{
    padding: 7.25rem 0 6.8rem 0;
}
.footer-about{
    width:19.54375rem;
    margin-right:4.725rem;
}
.site_footer_logo{
    display: flex;
    height: 26px;
}
.about-text{
    padding:1.88125rem 0 2.30625rem 0;
}
.list-link_1{
    margin-right: 3.16875rem;
}
.list-link_2{
    margin-right: 5.625rem;
}
.title_list_1{
    margin-bottom: 1.95625rem;
}
.title_list_2{
    margin-bottom: 2.01875rem;
}
.list-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:215px;
    height:45px;
}
.social-item{
    width:45px;
    height:45px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.social-item a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-item:hover{
    background-color: #FF8400;
}
.social-item:hover .pics-base{
    display: none;
}
.social-item:hover .pics-hover{
    display: block;
}
.pics-hover{
    display: none;
}
.newsletter{
    margin:2.19375rem 0 1rem 0;
    height:56px;
    width:300px;
    border-radius:28px;
    text-indent:25px;
    border: none;
}
.container{
    direction: rtl;
}
.newsletter-button{
    background-color: #FF8400;
    border-radius: 28px;
    box-shadow:0px 7px 15px rgba(255,97,0,0.15);
    height:56px;
    width:140px;
    padding: 0;
    border: none;
    font-family: 'Rubik Medium';
    line-height:21.6px;
    color:#ffffff;
}
.bottom_footer{
    padding: 1.675rem 0 1.825rem 0;
    line-height: 0;
}
.condition-links{
    width:26.3125rem;
    display:flex;
    justify-content: space-between;
}